@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oficina Online</h1>
    <p class="lead">Bem-vindo a aplicação Oficina Online. Desenvolvida como demonstração de conceitos.</p>
</div>

<div class="row">
</div>